In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import pyproj
import fiona
import geopandas

In [17]:
lic_comm = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/9b002e32-0ec9-40fc-9292-cddeae4416c6", encoding="utf-8", sep=";")

C:\Users\user\AppData\Local\Temp\ipykernel_12012\717002799.py:1: DtypeWarning: Columns (0,4) have mixed types. Specify dtype option on import or set low_memory=False.
  lic_comm = pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/9b002e32-0ec9-40fc-9292-cddeae4416c6", encoding="utf-8", sep=";")

In [18]:
print(lic_comm.dtypes)

Code Commune        object
Commune             object
Code QPV            object
Nom QPV             object
Département         object
Région              object
Statut géo          object
Code                 int64
Fédération          object
F - 1 à 4 ans        int64
F - 5 à 9 ans        int64
F - 10 à 14 ans      int64
F - 15 à 19 ans      int64
F - 20 à 24 ans      int64
F - 25 à 29 ans      int64
F - 30 à 34 ans      int64
F - 35 à 39 ans      int64
F - 40 à 44 ans      int64
F - 45 à 49 ans      int64
F - 50 à 54 ans      int64
F - 55 à 59 ans      int64
F - 60 à 64 ans      int64
F - 65 à 69 ans      int64
F - 70 à 74 ans      int64
F - 75 à 79 ans      int64
F - 80 à 99 ans      int64
F - NR               int64
H - 1 à 4 ans        int64
H - 5 à 9 ans        int64
H - 10 à 14 ans      int64
H - 15 à 19 ans      int64
H - 20 à 24 ans      int64
H - 25 à 29 ans      int64
H - 30 à 34 ans      int64
H - 35 à 39 ans      int64
H - 40 à 44 ans      int64
H - 45 à 49 ans      int64
H - 50 à 54 ans      int64
H - 55 à 59 ans      int64
H - 60 à 64 ans      int64
H - 65 à 69 ans      int64
H - 70 à 74 ans      int64
H - 75 à 79 ans      int64
H - 80 à 99 ans      int64
H - NR               int64
NR - 5 à 9 ans       int64
NR - 10 à 14 ans     int64
NR - 15 à 19 ans     int64
NR - 30 à 34 ans     int64
NR - 40 à 44 ans     int64
NR - 45 à 49 ans     int64
NR - 70 à 74 ans     int64
NR - NR              int64
Total                int64
dtype: object

In [19]:
lic_comm_sup=lic_comm.drop_duplicates(subset=['Région','Département','Code Commune','Code']).reset_index(drop=True)

In [29]:
lic_comm_sup

,Code Commune,Commune,Code QPV,Nom QPV,Département,Région,Statut géo,Code,Fédération,F - 1 à 4 ans,...,H - NR,NR - 5 à 9 ans,NR - 10 à 14 ans,NR - 15 à 19 ans,NR - 30 à 34 ans,NR - 40 à 44 ans,NR - 45 à 49 ans,NR - 70 à 74 ans,NR - NR,Total
0,1001,L'Abergement-Clémenciat,CSZ,NaN,1,Auvergne-Rhône-Alpes,1.Champ geoc,101,FF d'Athlétisme,0,...,0,0,0,0,0,0,0,0,0,8
1,1001,L'Abergement-Clémenciat,CSZ,NaN,1,Auvergne-Rhône-Alpes,1.Champ geoc,103,FF de Badminton,0,...,0,0,0,0,0,0,0,0,0,11
2,1001,L'Abergement-Clémenciat,CSZ,NaN,1,Auvergne-Rhône-Alpes,1.Champ geoc,105,FF de Basketball,0,...,0,0,0,0,0,0,0,0,0,1
3,1001,L'Abergement-Clémenciat,CSZ,NaN,1,Auvergne-Rhône-Alpes,1.Champ geoc,108,FF de Cyclisme,0,...,0,0,0,0,0,0,0,0,0,2
4,1001,L'Abergement-Clémenciat,CSZ,NaN,1,Auvergne-Rhône-Alpes,1.Champ geoc,109,FF d'Équitation,0,...,0,0,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887150,NR - Non réparti,NaN,NR - Non réparti,NaN,971,DROM,3.NR,408,F Sportive et Culturelle de France,0,...,0,0,0,0,0,0,0,0,0,91
887151,NR - Non réparti,NaN,NR - Non réparti,NaN,972,DROM,3.NR,408,F Sportive et Culturelle de France,0,...,0,0,0,0,0,0,0,0,0,64
887152,NR - Non réparti,NaN,NR - Non réparti,NaN,974,DROM,3.NR,408,F Sportive et Culturelle de France,0,...,0,0,0,0,0,0,0,0,0,2
887153,NR - Non réparti,NaN,NR - Non réparti,NaN,977,COM,3.NR,408,F Sportive et Culturelle de France,0,...,0,0,0,0,0,0,0,0,0,19
887154,NR - Non réparti,NaN,NR - Non réparti,NaN,ETR,Etranger,3.NR,408,F Sportive et Culturelle de France,3,...,1,0,0,0,0,0,0,0,0,92

In [43]:
lic_comm_sup=lic_comm_sup.drop(['Statut géo','Code QPV','Nom QPV'],axis=1)
lic_comm_sup

,Code Commune,Commune,Département,Région,Code,Fédération,F - 1 à 4 ans,F - 5 à 9 ans,F - 10 à 14 ans,F - 15 à 19 ans,...,H - NR,NR - 5 à 9 ans,NR - 10 à 14 ans,NR - 15 à 19 ans,NR - 30 à 34 ans,NR - 40 à 44 ans,NR - 45 à 49 ans,NR - 70 à 74 ans,NR - NR,Total
0,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,101,FF d'Athlétisme,0,0,2,0,...,0,0,0,0,0,0,0,0,0,8
1,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,103,FF de Badminton,0,0,0,1,...,0,0,0,0,0,0,0,0,0,11
2,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,105,FF de Basketball,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,108,FF de Cyclisme,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
4,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,109,FF d'Équitation,0,0,3,1,...,0,0,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
887150,NR - Non réparti,NaN,971,DROM,408,F Sportive et Culturelle de France,0,15,40,6,...,0,0,0,0,0,0,0,0,0,91
887151,NR - Non réparti,NaN,972,DROM,408,F Sportive et Culturelle de France,0,26,24,2,...,0,0,0,0,0,0,0,0,0,64
887152,NR - Non réparti,NaN,974,DROM,408,F Sportive et Culturelle de France,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
887153,NR - Non réparti,NaN,977,COM,408,F Sportive et Culturelle de France,0,7,9,0,...,0,0,0,0,0,0,0,0,0,19
887154,NR - Non réparti,NaN,ETR,Etranger,408,F Sportive et Culturelle de France,3,9,16,1,...,1,0,0,0,0,0,0,0,0,92

lic_comm_sup.shape

## base qui regroupe les données par sexe

In [44]:
def donnees_par_sexe(base_initial):
    
    base=base_initial[['Code Commune', 'Commune', 'Département','Région', 'Code', 'Fédération']]
    base['F']=base_initial[['F - 5 à 9 ans', 'F - 10 à 14 ans', 'F - 15 à 19 ans',
              'F - 20 à 24 ans', 'F - 25 à 29 ans', 'F - 30 à 34 ans',
              'F - 35 à 39 ans', 'F - 40 à 44 ans', 'F - 45 à 49 ans',
              'F - 50 à 54 ans', 'F - 55 à 59 ans', 'F - 60 à 64 ans',
              'F - 65 à 69 ans', 'F - 70 à 74 ans', 'F - 75 à 79 ans',
              'F - 80 à 99 ans', 'F - NR']].sum(axis=1)
    base['H']=base_initial[['H - 1 à 4 ans', 'H - 5 à 9 ans',
              'H - 10 à 14 ans', 'H - 15 à 19 ans', 'H - 20 à 24 ans',
              'H - 25 à 29 ans', 'H - 30 à 34 ans', 'H - 35 à 39 ans',
              'H - 40 à 44 ans', 'H - 45 à 49 ans', 'H - 50 à 54 ans',
              'H - 55 à 59 ans', 'H - 60 à 64 ans', 'H - 65 à 69 ans',
              'H - 70 à 74 ans', 'H - 75 à 79 ans', 'H - 80 à 99 ans', 'H - NR']].sum(axis=1)
    base['NR']=base_initial[['NR - 5 à 9 ans', 'NR - 10 à 14 ans', 'NR - 15 à 19 ans',
                 'NR - 30 à 34 ans', 'NR - 40 à 44 ans', 'NR - 45 à 49 ans',
                 'NR - 70 à 74 ans', 'NR - NR']].sum(axis=1)
    return base

In [48]:
base_par_sexe= donnees_par_sexe(lic_comm_sup)
base_par_sexe

C:\Users\user\AppData\Local\Temp\ipykernel_12012\1229666678.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base['F']=base_initial[['F - 5 à 9 ans', 'F - 10 à 14 ans', 'F - 15 à 19 ans',
C:\Users\user\AppData\Local\Temp\ipykernel_12012\1229666678.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base['H']=base_initial[['H - 1 à 4 ans', 'H - 5 à 9 ans',
C:\Users\user\AppData\Local\Temp\ipykernel_12012\1229666678.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  base['NR']=base_initial[['NR - 5 à 9 ans', 'NR - 10 à 14 ans', 'NR - 15 à 19 ans',

,Code Commune,Commune,Département,Région,Code,Fédération,F,H,NR
0,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,101,FF d'Athlétisme,3,5,0
1,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,103,FF de Badminton,3,8,0
2,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,105,FF de Basketball,0,1,0
3,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,108,FF de Cyclisme,0,2,0
4,1001,L'Abergement-Clémenciat,1,Auvergne-Rhône-Alpes,109,FF d'Équitation,8,2,0
...,...,...,...,...,...,...,...,...,...
887150,NR - Non réparti,NaN,971,DROM,408,F Sportive et Culturelle de France,88,3,0
887151,NR - Non réparti,NaN,972,DROM,408,F Sportive et Culturelle de France,64,0,0
887152,NR - Non réparti,NaN,974,DROM,408,F Sportive et Culturelle de France,0,2,0
887153,NR - Non réparti,NaN,977,COM,408,F Sportive et Culturelle de France,16,3,0
887154,NR - Non réparti,NaN,ETR,Etranger,408,F Sportive et Culturelle de France,40,49,0

In [88]:


def lic_reg_per_sex(base_initial):
    base=base_initial[base_initial.columns.difference(['Code Commune', 'Commune','Département','Code', 'Fédération'])]
    base1=base.groupby('Région').sum().reset_index()
    base1['Total_m']=base1['H']+base1['F']+base1['NR']
    base1['taux_F']=(base1['F']/base1['Total_m'])* 100
    base1['taux_H']=(base1['H']/base1['Total_m'])* 100
    base1['taux_NR']=(base1['NR']/base1['Total_m'])* 100
    base1=base1.drop(['F','H','NR','Total_m'],axis=1)
    return base1

In [89]:
lic_reg_per_sex(base_par_sexe)

                        Région     taux_F     taux_H   taux_NR
0         Auvergne-Rhône-Alpes  37.915443  59.543467  2.541091
1      Bourgogne-Franche-Comté  38.711112  60.570108  0.718780
2                     Bretagne  36.096423  56.591860  7.311717
3                          COM  39.200303  60.651228  0.148469
4          Centre-Val de Loire  38.629964  59.045721  2.324316
5                        Corse  33.466426  66.175600  0.357974
6                         DROM  35.453044  64.175263  0.371694
7                     Etranger  35.848871  61.665460  2.485669
8                    Grand Est  38.065243  60.173641  1.761117
9              Hauts-de-France  35.164126  60.311727  4.524147
10                      Monaco  35.896232  63.939430  0.164339
11            NR - Non réparti  23.333597  76.088734  0.577669
12                   Normandie  38.073060  59.736165  2.190775
13          Nouvelle-Aquitaine  37.804950  60.833051  1.361998
14                   Occitanie  36.615077  61.952327  1.432596
15            Pays de la Loire  36.154164  57.037523  6.808312
16  Provence-Alpes-Côte d'Azur  36.334958  62.185554  1.479488
17               Île-de-France  36.556947  60.875304  2.567749

### base par classe age??

#### analyse niv departement

In [50]:
dep=pd.read_csv("https://www.data.gouv.fr/fr/datasets/r/dbe8a621-a9c4-4bc3-9cae-be1699c5ff25")
dep.head(10)

,code_commune_INSEE,nom_commune_postal,code_postal,libelle_acheminement,ligne_5,latitude,longitude,code_commune,article,nom_commune,nom_commune_complet,code_departement,nom_departement,code_region,nom_region
0,1001,L ABERGEMENT CLEMENCIAT,1400,L ABERGEMENT CLEMENCIAT,NaN,46.153426,4.926114,1.0,L',Abergement-Clémenciat,L'Abergement-Clémenciat,1,Ain,84.0,Auvergne-Rhône-Alpes
1,1002,L ABERGEMENT DE VAREY,1640,L ABERGEMENT DE VAREY,NaN,46.009188,5.428017,2.0,L',Abergement-de-Varey,L'Abergement-de-Varey,1,Ain,84.0,Auvergne-Rhône-Alpes
2,1004,AMBERIEU EN BUGEY,1500,AMBERIEU EN BUGEY,NaN,45.960848,5.372926,4.0,NaN,Ambérieu-en-Bugey,Ambérieu-en-Bugey,1,Ain,84.0,Auvergne-Rhône-Alpes
3,1005,AMBERIEUX EN DOMBES,1330,AMBERIEUX EN DOMBES,NaN,45.996180,4.912273,5.0,NaN,Ambérieux-en-Dombes,Ambérieux-en-Dombes,1,Ain,84.0,Auvergne-Rhône-Alpes
4,1006,AMBLEON,1300,AMBLEON,NaN,45.749499,5.594320,6.0,NaN,Ambléon,Ambléon,1,Ain,84.0,Auvergne-Rhône-Alpes
5,1007,AMBRONAY,1500,AMBRONAY,NaN,46.005591,5.357607,7.0,NaN,Ambronay,Ambronay,1,Ain,84.0,Auvergne-Rhône-Alpes
6,1008,AMBUTRIX,1500,AMBUTRIX,NaN,45.936713,5.332809,8.0,NaN,Ambutrix,Ambutrix,1,Ain,84.0,Auvergne-Rhône-Alpes
7,1009,ANDERT ET CONDON,1300,ANDERT ET CONDON,NaN,45.787357,5.657883,9.0,NaN,Andert-et-Condon,Andert-et-Condon,1,Ain,84.0,Auvergne-Rhône-Alpes
8,1010,ANGLEFORT,1350,ANGLEFORT,NaN,45.909372,5.795160,10.0,NaN,Anglefort,Anglefort,1,Ain,84.0,Auvergne-Rhône-Alpes
9,1011,APREMONT,1100,APREMONT,NaN,46.205498,5.657815,11.0,NaN,Apremont,Apremont,1,Ain,84.0,Auvergne-Rhône-Alpes

In [161]:
dep['code_departement'].nunique()

104

In [159]:
base_par_sexe_par_departement=pd.merge(base_par_sexe, dep[['code_commune_INSEE','code_departement','nom_departement']], 
                 left_on="Code Commune", right_on="code_commune_INSEE")
base_par_sexe_par_departement=base_par_sexe_par_departement.drop(['Code Commune','Commune','Région','code_commune_INSEE','code_departement'],axis=1)

In [160]:
base_par_sexe_par_departement

,Département,Code,Fédération,F,H,NR,nom_departement
0,29,117,"FF de Judo, Jujitsu, Kendo et DA",1,1,0,Finistère
1,29,118,FF de Lutte,0,1,0,Finistère
2,29,119,FF de Natation,0,1,0,Finistère
3,29,123,FF de Tennis,2,1,0,Finistère
4,29,124,FF de Tennis de Table,0,1,0,Finistère
...,...,...,...,...,...,...,...
25147,974,405,FF du Sport Travailliste,0,1,0,La Réunion
25148,974,501,FF Handisport,2,2,0,La Réunion
25149,974,501,FF Handisport,2,2,0,La Réunion
25150,974,604,Union Nationale du Sport Scolaire (UNSS),26,66,0,La Réunion
25151,974,604,Union Nationale du Sport Scolaire (UNSS),26,66,0,La Réunion

In [155]:
def sport_plus_pratique_par_dep(base_initial):
    base=base_initial[base_initial.columns.difference(['Code Commune', 'Commune','Région'])]
    base1=base.groupby(['Département','nom_departement','Code', 'Fédération']).sum().reset_index()
    base1['nbre_licences']=base1[['H','F','NR']].sum(axis=1)
    base1=base1.drop(['F','H','NR'],axis=1)
    #labels_lignes_max=base1.groupby('Département')['nbre_licences'].idxmax()
   # ligne_max=base1.loc[labels_lignes_max][['Département','nom_departement','Code', 'Fédération','nbre_licences']]
    return base1

In [156]:
h=sport_plus_pratique_par_dep(base_par_sexe_par_departement)
h

,Département,nom_departement,Code,Fédération,nbre_licences
0,29,Finistère,101,FF d'Athlétisme,2195
1,29,Finistère,102,FF d'Aviron,549
2,29,Finistère,103,FF de Badminton,1084
3,29,Finistère,105,FF de Basketball,3795
4,29,Finistère,106,FF de Boxe,97
...,...,...,...,...,...
540,974,La Réunion,601,FF du Sport Universitaire,24909
541,974,La Réunion,602,F Sportive Educative de l'Enseignement Catholi...,524
542,974,La Réunion,603,Union Nationale des Clubs Universitaires,47
543,974,La Réunion,604,Union Nationale du Sport Scolaire (UNSS),105559
544,974,La Réunion,605,Union Sportive de l'Enseignement du Premier Degré,110940

In [142]:
b=h[h['Département']=='29']
b

,Département,nom_departement,Code,Fédération,nbre_licences
0,29,Finistère,101,FF d'Athlétisme,2195
1,29,Finistère,102,FF d'Aviron,549
2,29,Finistère,103,FF de Badminton,1084
3,29,Finistère,105,FF de Basketball,3795
4,29,Finistère,106,FF de Boxe,97
...,...,...,...,...,...
89,29,Finistère,601,FF du Sport Universitaire,413
90,29,Finistère,602,F Sportive Educative de l'Enseignement Catholi...,28095
91,29,Finistère,603,Union Nationale des Clubs Universitaires,3
92,29,Finistère,604,Union Nationale du Sport Scolaire (UNSS),5852
93,29,Finistère,605,Union Sportive de l'Enseignement du Premier Degré,562

In [146]:
b['nbre_licences'].max()

28095

In [168]:
lic_comm_sup['Département'].unique()

array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       21, 22, 23, 24, 25, 26, 27, 28, 29, '29', '2A', '2B', '30', 30, 31,
       32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48,
       49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65,
       66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82,
       83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 971, 972,
       '972', '973', '974', '01', '02', '03', '04', '05', '06', '07',
       '08', '09', '10', '11', '12', '13', '14', '15', '16', '17', '18',
       '19', '21', '22', '23', '24', '25', '26', '27', '28', '31', '32',
       '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43',
       '44', '45', '46', '47', '48', '49', '50', '51', '52', '53', '54',
       '55', '56', '57', '58', '59', '60', '61', '62', '63', '64', '65',
       '66', '67', '68', '69', '70', '71', '72', '73', '74', '75', '76',
       '77', '78', '79', '80', '81', '82', '83', '84', '85', '86', '87',
       '88', '89', '90', '91', '92', '93', '94', '95', '971', '975',
       '976', '977', '978', '980', '986', '987', '988', 'ETR', '100'],
      dtype=object)

In [169]:
dep['code_departement'].unique()

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '2A', '2B', '30', '31', '32', '33',
       '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44',
       '45', '46', '47', '48', '49', '50', '51', '52', '53', '54', '55',
       '56', '57', '58', '59', '60', '61', '62', '63', '64', '65', '66',
       '67', '68', '69', '70', '71', '72', '73', '74', '75', '76', '77',
       '78', '79', '80', '81', '82', '83', '84', '85', '86', '87', '88',
       '89', '90', '91', '92', '93', '94', '95', '971', '972', '973',
       '974', '97', '976', '98', nan, '99'], dtype=object)

In [9]:
lic_data_19=pd.read_csv("C:\Users\user\Documents\2A ensae\datas\lic_data_2019", encoding = 'Latin-1', sep = ';')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (3540097761.py, line 1)